.hero {
  background-image: url('../../assets/img/bank-tree.jpeg');
  background-position: 0 -50px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 50px;
  right: 50px;  
  width: 300px;
  background: white;
  padding: 2rem;
  text-align: left;
  margin: 2rem;
}

.subtitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0;
    display: block;
  }

  .text {
    margin-bottom: 0;
    font-size: 1.2rem;
    margin-top: 1rem;
  }


@media (min-width: 920px) {
  .hero {
    height: 400px;
    justify-content: flex-end;
    background-position: 0% 33%;
  }

  .hero-content {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    margin: 2rem;
  }
}