.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}
.main-nav-item {
  text-decoration: none;
  margin-right: 1.5rem;
}
.main-nav-item:hover {
  text-decoration: underline;
}
.main-nav-logo {
  display: flex;
  align-items: center;
}
.main-nav-logo-image {
  max-width: 100%;
  width: 200px;
}

.fa-user-circle:before,.fa-sign-out:before {
  margin-right: 5px;
}